* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d0f0d;
    color: #f4f1e8;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
}


html {
    scroll-behavior: smooth;
}


/* AGE POPUP */

.age-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.92);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}


.age-box {
    background:#14251d;
    padding:45px;
    border-radius:20px;
    text-align:center;
    border:1px solid #b9974b;
    max-width:400px;
}


.age-box h2 {
    color:#d4b15a;
    margin-bottom:15px;
}


button {
    cursor:pointer;
}


.age-box button,
.gold-button {

    margin-top:25px;
    background:#c8a24d;
    color:#111;
    border:none;
    padding:14px 35px;
    border-radius:50px;
    font-weight:bold;
    text-decoration:none;
    display:inline-block;

}


/* NAVIGATION */

header {

    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    background:rgba(13,15,13,.85);
    backdrop-filter:blur(10px);

}


nav {

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;

}


.logo {

    color:#d4b15a;
    font-size:24px;
    font-weight:700;
    letter-spacing:1px;

}


.links a {

    color:white;
    text-decoration:none;
    margin-left:30px;
    font-size:15px;

}


/* HERO */

.hero {

    height:100vh;

    background:
    linear-gradient(
    rgba(0,0,0,.55),
    rgba(0,0,0,.85)
    ),
    url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e")
    center/cover;

    display:flex;
    align-items:center;
    padding:0 8%;

}


.hero-text {

    max-width:650px;

}


.hero h1 {

    font-size:90px;
    line-height:1;
    letter-spacing:-3px;

}


.hero p {

    font-size:24px;
    margin:30px 0;
    color:#ddd;

}



/* SECTIONS */

.section {

    padding:120px 8%;
    text-align:center;

}


.section h2,
.story h2 {

    font-size:45px;
    margin-bottom:50px;
    color:#d4b15a;

}



/* PRODUCTS */

.grid {

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:35px;

}


.product {

    background:#151815;
    padding:45px 30px;
    border-radius:20px;
    border:1px solid #252925;
    transition:.3s;

}


.product:hover {

    transform:translateY(-8px);
    border-color:#c8a24d;

}


.product h3 {

    color:white;
    font-size:25px;
    margin-bottom:15px;

}


/* STORY */

.story {

    background:#14251d;
    padding:120px 15%;
    text-align:center;

}


.story p {

    font-size:22px;
    color:#ddd;

}



/* FOOTER */

footer {

    background:#050605;
    padding:35px;
    text-align:center;
    color:#aaa;

}



/* MOBILE */

@media(max-width:700px){

nav {

    flex-direction:column;
    gap:15px;

}


.links a {

    margin:10px;

}


.hero h1 {

    font-size:55px;

}


.hero p {

    font-size:18px;

}


.section h2,
.story h2 {

    font-size:34px;

}

}
